* {
    padding: 0;
    margin: 0;
}

.header {
  
    width: 100%;
    height: 20vh;

}

.main {
   
 overflow: scroll;
 scrollbar-width: none;
 -ms-overflow-style: none; 
    width: 100%;
    height: 80vh;
}


.main::-webkit-scrollbar {
    display: none;
  }
html::-webkit-scrollbar {
    display: none;
  }
.bottom {
   
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    background-color: rgb(236, 241, 244);
    color: rgb(39, 154, 225);
}

.header1 {
  
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header1 div {
   
    border: none;
    width: 85%;
    cursor: text;
    height: 60%;
    border-radius: 10vw;
    background-color: rgb(220, 225, 227);
    display: flex;
    align-items: center;
    color: rgb(74, 72, 69);
    font-size: 3vh;
}
.header1 div img {
  height: 70%;
  margin-left: 3vw;
  margin-right: 3vw;
}




.header2 {
  
    width: 100%;
    height: 50%;
    display: flex;
}

.appssec {
  
    width: 50%;
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamessec {
  
    width: 50%;
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
   
    width: 80%;
    height: 80%;
    background-color: rgb(26, 141, 230);
    border: none;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
}
.buttons:hover {
  
    background-color: rgb(44, 83, 113);
 
 
}

.appbox {
   padding-bottom: 3vh;
    width: 100%;
    height: 20%;
    display: flex;
   
 
}

.appbox:hover {
    background-color: rgb(225, 234, 225);

}

.imageofbox {
   display: flex;
   align-items: center;
   justify-content: center;
    width: 30%;
    height: 100%;

}
.imageofbox img {
   border-radius: 2vh;
    width: auto;
    height: 80%;
  
}




.otherofbox {
  
    width: 70%;
    height: 100%;
}
.nameofbox {
  
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sizeofbox {

    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ratingofbox {
 
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreappsec {
    width: 100%;
    height: 65vh;
    
    position: fixed;
    top: 20vh;
    background-color: white;

}

.biglogocon {
   
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.biglogocon img {
  
    height: 90%;
    display: flex;
    border-radius: 2vh;
    justify-content: center;
    align-items: center;  
}

.otherofmore {
    width: 100%;
    height: 60%;
}

.bigname, .bigrate, .bigsize, .install {
   
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigback {
    width: 100%;
    height: 10%;
    display: flex;
   
    align-items: center;
}

.bigback button {
   background: rgb(251, 59, 59);
   border: none;
   width: 15vh;
   height: 80%;
   margin-left: 1vw;
   color: rgb(255, 255, 255);
   border-radius: 1vh;




}
.bigback button:hover {
    background: rgb(134, 52, 52);
}





.install button {
    background: rgb(29, 220, 29);
    border: none;
    height: 5vh;
    width: 90%;
    border-radius: 1vh;
    cursor: pointer;
}
/* a {
    text-align: none;
} */

.install button:hover {
    background: rgb(156, 190, 156);
  
}


.install {
 
   display: flex;
   justify-content: center;
   align-items: center;
  
    
}


.nostyle {
    text-decoration: none;
    color: white;
}